<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <!-- bean definitions here -->
    <bean class="config.xml.beans.Address" id="address1">
        <property name="city" value="Munich"/>
        <property name="state" value="Bayern"/>
    </bean>
    <bean class="config.xml.beans.Student" id="student1">
        <property name="name" value="John Doe"/>
        <property name="age" value="20"/>
        <property name="address" ref="address1"></property>
    </bean>

</beans>